.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  align-items: center;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: #f0f0f0;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 1.5rem;
  color: #555;
}